applications/srad.srad/nn.configs/
applications/sobel/tmp.err
applications/sobel/tmp.log
applications/sobel/test.data/output/
applications/meanfilter/tmp.log
applications/sobel/src.nn/
applications/inversek2j/test.data/output/
applications/blackscholes/src.nn/
applications/inversek2j/src.nn/
applications/laplacian/data/output/
*.tmp
applications/convolution/src.nn/
applications/binarization/tmp.log
applications/binarization/test.data/output/
applications/binarization/src.nn/
parrot.c/src/FannLib/doublefann.o
parrot.c/src/FannLib/fann.o
parrot.c/src/FannLib/fann_cascade.o
parrot.c/src/FannLib/fann_error.o
parrot.c/src/FannLib/fann_io.o
parrot.c/src/FannLib/fann_train.o
parrot.c/src/FannLib/fann_train_data.o
parrot.c/src/FannLib/fixedfann.o
parrot.c/src/FannLib/floatfann.o
parrot.c/src/MeasureLib/CpuAffinity.o
parrot.c/src/MeasureLib/Timer.o
applications/binarization/test.data/output/
applications/binarization/tmp.err
parrot.c/src/ParrotLib/FannData.o
parrot.c/src/ParrotLib/ParrotData.o
parrot.c/src/ParrotLib/ParrotVector.o
parrot.c/src/ParrotLib/parrot_cpu.o
parrot.c/src/ParrotLib/parroto.o
parrot.c/src/ParrotObserver/parroto.o
parrot.c/src/ParrotObserver/second_timer.o
parrot.c/src/ParrotObserver/sin.o
parrot.c/src/ParrotObserver/sin2.o
tracked.files
applications/sobel/null
applications/sobel/nn.configs/
applications/sobel/fann.config/
applications/sobel/train.data/output/fann.data/*
applications/sobel/train.data/output/kernel.data/*
applications/binarization/binarization_binarization.json
applications/binarization/binarization_imageBinarization.json
applications/binarization/kernelNames.json
applications/binarization/kernel_binarization.data
applications/binarization/null
applications/binarization/src.nn/binarization_nn.cpp
applications/binarization/src.nn/binarization_nn.cu
applications/binarization/src.nn/bmploader_nn.cpp
applications/binarization/train.data/output/
applications/blackscholes/blackscholes_BlackScholesBodyGPU.json
applications/blackscholes/kernel_BlackScholesBodyGPU.data
applications/blackscholes/src.nn/BlackScholes_nn.cu
applications/blackscholes/test.data/output/
applications/blackscholes/train.data/output/
applications/convolution/convolution_convolutionRowsKernel.json
applications/convolution/src.nn/convolutionSeparable_nn.cu
applications/convolution/train.data/output/
applications/jmeint/fann.config/
applications/jmeint/jmeint_jmeint_kernel.json
applications/jmeint/kernel_jmeint_kernel.data
applications/jmeint/src.nn/
applications/jmeint/test.data/output/locations_intersect_nn.data
applications/jmeint/train.data/output/
applications/meanfilter/fann.config/
applications/meanfilter/kernel_computeMean.data
applications/meanfilter/meanfilter_computeMean.json
applications/meanfilter/null
applications/meanfilter/src.nn/
applications/meanfilter/test.data/output/
applications/meanfilter/tmp.err
applications/meanfilter/train.data/output/
applications/newton-raph/newton-raph_nrpol3_kernel.json
applications/newton-raph/test.data/output/
applications/newton-raph/train.data/output/
bigfile.sh
filename.sh